<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}} 
</head>
<body>
  {{>navbar}}

<!---main header -------->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="images/raj.jpg" alt="raj" class="img-fluid" title="my weather">
                    </figure>
                </div>

                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to the weather app</p>
                    <h1>I Am A <span class="text_clr">Mern Stack Devloper</span> Python & Django </h1>
                    <a href="/weather"><button>About Me</button></a>
                </div>
               

            </div>
        
        </div>
    </div>
</div>
{{>footer}}
</body>
</html>